//toast top notifications
.toast-header {
    border-bottom: none !important;
    background-color:$lightGreen !important;
    border-bottom: 1px solid $softGreen !important;



}

.toast {
    max-width: 80vw !important;
    text-align: center;
    background-color:  $white !important;
    box-shadow: none;
    border-radius:25px;
}

.toast-body {
    font-size: 1.4em !important;
    text-align: left;
}

//cards 
.main-card-body {
    background-color: $softGreen;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

//plant status
.status {
    background-color: $softGrey;
    border-radius: 50px;
    font-family: $bodyFont;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 0.2em;
    text-transform: uppercase;
    margin: 0 auto;
    height: 35px;
    text-align: left;
    color: $darkGreen;

    img {
        float: right;
    }

}

.plant-name {
    font-family: $headerFont;
    font-size: 3.5em !important;
    //letter-spacing:3px;
    font-style: normal;
    font-weight: 800 !important;
    text-transform: none;
}

.status-icon {
    background-color: $softGrey;
    border-radius: 50px;
    font-family: $bodyFont;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 0.2em;
    text-transform: uppercase;
    margin: 0 auto;
    height: 35px;
    color: $darkGreen;

}

.strain {
    font-family: $bodyFont;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;

}

//view plant button
.view-plant {
    background-color: $darkGreen;
    font-size: 1em;
}

//add plant & login button
.gbutt {
    background-color: #42b400;
    color: $white;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: $bodyFont;

}

.gbutt:hover {
    color: $white;
}
