
.login-container {
    background-color: transparent;
    box-shadow: none;

}
//this is the jumbotron
.jumbotron {
    border-radius: 50px;


}

.login-logo {
    max-width: 350px;
    width: 100%;
}

