//colours
$lightGreen: #DCFFD8;
$softGreen: #6CCF61;
$darkGreen:#23421F;
$greyText: #707070;
$softGrey: #EFEFEF;
$white: #FFFFFF;
$black: #000000;
$bodyFont: 'Varela Round', sans-serif;
$headerFont: 'garage-gothic', sans-serif;
